*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #508dbc;
	font-family: "verdana";
	font-size: 14px;
}
a:visited,a:active,a:link{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: #E3E8EA;
}
.zhezhao{
	position: absolute;
	top:0;
	left:0;
	background-color: #000;
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);  
	z-index: 1000;
	width: 100%;
	height: 100%;
}
.header{
	width:96%;
	padding: 0 2%;
	height:60px;
	background-color: #508cbc;
	font-family: "黑体";
}
.header .ps{
	height: 60px;
	line-height: 60px;
	float: left;
}
.header .ps p{
	color: #fff;
	font-size:26px;
	font-weight: bold;
	display: inline-block;
	float: left;
}
.header .ps span{
	font-size:18px;
	font-weight: normal;
	padding-left: 6px;
}
.header .enter{
	height: 60px;
	float: right;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
}
.show{
	width: 100%;
	height:1102px;
	background: url("../images/test1.png") no-repeat bottom center;
	position: relative;
	z-index: 2;
}
/*508dbc*/
@keyframes opa{
	0%{
		opacity:1;
	} 100%{
		opacity:0;
	} 
}
@-webkit-keyframes opa{
	0%{
		opacity:1;
	} 100%{
		opacity:0;
	} 
}
@-moz-keyframes opa{
	0%{
		opacity:1;
	} 100%{
		opacity:0;
	} 
}
@-ms-keyframes opa{
	0%{
		opacity:1;
	} 100%{
		opacity:0;
	} 
}
@-o-keyframes opa{
	0%{
		opacity:1;
	} 100%{
		opacity:0;
	} 
}
.opa{
	backface-visibility:visible;
	animation:opa 1s 0s 1 ease normal forwards ;
	-moz-backface-visibility:visible;
	-moz-animation:opa 1s 0s 1 ease normal forwards ;
	-webkit-backface-visibility:visible;
	-webkit-animation:opa 1s 0s 1 ease normal forwards ;
	-ms-backface-visibility:visible;
	-ms-animation:opa 1s 0s 1 ease normal forwards ;
	-o-backface-visibility:visible;
	-o-animation:opa 1s 0s 1 ease normal forwards ;
}
@keyframes demo{
	0%{
		transform:translateY(px) translateX(px);
	} 63%{
		transform:translateY(45px);
	} 34%{
		transform:translateY(10px);
	} 100%{
		transform:translateY(0px) translateX(0px);
	} 17%{
		transform:translateX(20px);
	} 78%{
		transform:translateX(26px);
	} 
}
@-moz-keyframes demo{
	0%{
		-moz-transform:translateY(px) translateX(px);
	} 63%{
		-moz-transform:translateY(45px);
	} 34%{
		-moz-transform:translateY(10px);
	} 100%{
		-moz-transform:translateY(0px) translateX(0px);
	} 17%{
		-moz-transform:translateX(20px);
	} 78%{
		-moz-transform:translateX(26px);
	} 
}
@-webkit-keyframes demo{
	0%{
		-webkit-transform:translateY(px) translateX(px);
	} 63%{
		-webkit-transform:translateY(45px);
	} 34%{
		-webkit-transform:translateY(10px);
	} 100%{
		-webkit-transform:translateY(0px) translateX(0px);
	} 17%{
		-webkit-transform:translateX(20px);
	} 78%{
		-webkit-transform:translateX(26px);
	} 
}
@-ms-keyframes demo{
	0%{
		-ms-transform:translateY(px) translateX(px);
	} 63%{
		-ms-transform:translateY(45px);
	} 34%{
		-ms-transform:translateY(10px);
	} 100%{
		-ms-transform:translateY(0px) translateX(0px);
	} 17%{
		-ms-transform:translateX(20px);
	} 78%{
		-ms-transform:translateX(26px);
	} 
}
@-o-keyframes demo{
	0%{
		-o-transform:translateY(px) translateX(px);
	} 63%{
		-o-transform:translateY(45px);
	} 34%{
		-o-transform:translateY(10px);
	} 100%{
		-o-transform:translateY(0px) translateX(0px);
	} 17%{
		-o-transform:translateX(20px);
	} 78%{
		-o-transform:translateX(26px);
	} 
}
.wind{
	max-width:100%; 
	height: auto;
	width: 800px; 
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	backface-visibility:visible;
	transform-origin:center center;
	animation:demo 15s 0s infinite ease normal none ;
	-moz-backface-visibility:visible;
	-moz-transform-origin:center center;
	-moz-animation:demo 15s 0s infinite ease normal none ;
	-webkit-backface-visibility:visible;
	-webkit-transform-origin:center center;
	-webkit-animation:demo 15s 0s infinite ease normal none ;
	-ms-backface-visibility:visible;
	-ms-transform-origin:center center;
	-ms-animation:demo 15s 0s infinite ease normal none ;
	-o-backface-visibility:visible;
	-o-transform-origin:center center;
	-o-animation:demo 150s 0s infinite ease normal none ;*/
}
@media screen and (min-width:960px){
	.wind{
		left:140px;
		top:140px;
	}
}	
@media screen and (min-width:650px) and (max-width:960px){
	.wind{
		width: 550px; 
		left: 10%;
		top:20%;
	}
	.show{
		height: 1100px;
		background-size:150%;
	}
}
@media screen and (min-width:600px) and (max-width:740px){
	.wind{
		width: 550px; 
		left: 30px;
		top:160px;
	}
	.show{
		height: 750px;
		background-size:150%;
	}
}
@media screen and (max-width:600px){
	.header .ps p{
		font-size: 15px;
	}
	.header .ps span{
		font-size: 10px;
	}
	.wind{
		width: 70%; 
		left: 30px;
		top:350px;
	}
	.show{
		height: 700px;
		background-size:200%;
	}
}